<!DOCTYPE html>
<html>
  <head>
    <title>restaurant</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>restaurant</h1>
<a href="/menus">menus</a>
<a href="/reviews">reviews</a>
<a href="/users/register">register</a>
  </body>
</html>
