<!DOCTYPE html>
<html>
  <head>
    <title>restaurant</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>restaurant</h1>
    <nav>
      <a href="/menus">menus</a>
      <a href="/reviews">reviews</a>
      <a href="/users/register">register</a>
    </nav>
  </body>
</html>
