<!DOCTYPE html>
<html>
  <head>
    <title>restaurant</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/menus">menus</a>
        <a href="/reviews">reviews</a>
        <a href="/users/register">register</a>
        <a href="/users/login">login</a>
        <a href="/users/profile">Profile check</a>
      </nav>
    </header>
    <h1>420 BURGER JOINT.CO</h1>
  </body>
</html>
