@font-face {
    font-family: 'CooperLTBT-Bold';
    src: url('/fonts/CooperLtBT-Bold.ttf') format('truetype');
    font-weight: bold;
}
  
@font-face {
    font-family: 'CooperLTBT-Regular';
    src: url('/fonts/CooperLtBT-Regular.ttf') format('truetype');
    font-weight: normal;
}

body {
    margin: 0;
    font-family: 'CooperLTBT-Bold', 'Arial', sans-serif;
    background-color: rgb(241,234,209);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(241, 234, 209);
    background-color: rgb(9, 125, 76);
    padding: 10px 25px;
    border-radius: 25px; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}

nav a:hover {
background-color: rgb(255,210,48);
color: black;
}

.restaurant {
    flex: 1;
    text-align: center;
    font-size: 3vw;
    color: rgb(9, 125, 76);
    margin: 0;
    font-weight: bold;
}
.restaurant > h1 {
    margin-top: 20vh;
    margin-bottom: 0;
}
.restaurant > p {
    font-size: 2.5vw;
    margin-top: -10px;
}
h3 {
    font-family: 'CooperLTBT-Regular', 'Arial', sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(9, 125, 76);
    margin-bottom: 0;
    }