<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reviews/index.css">
    <title>Food Reviews</title>
</head>
<body>
    <% if (!user){%>
        <nav>
          <a href="/">home</a>
          <a href="/menus">menus</a>
          <a href="/users/login">login</a>
        </nav>
        <%} else{%>
          <nav>
            <a href="/">home</a>
            <a href="/menus">menus</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
        <% } %>
    <h1>Food Review List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(function(review) { %>
                <tr>
                    <td><%= review.user.username %></td> 
                    <td><%= review.comment %></td>
                    <td><%= review.rating %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>