<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reviews/review.css">
    <title>Add Review</title>
</head>
<body>
    <% if (!user){%>
        <nav>
          <a href="/">home</a>
          <a href="/menus">menus</a>
          <a href="/reviews">reviews</a>
          <a href="/users/login">login</a>
        </nav>
        <%} else{%>
          <nav>
            <a href="/">home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
        <% } %>
    <h1>Add Food Review</h1>
    <form action="/reviews/<%= menu._id %>" method="post">
        <label>Rating:</label>
        <select name="rating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label>Comment:</label>
        <textarea name="comment" required maxlength="100" placeholder="Max 100 Characters"></textarea>
        <button type="submit">Submit Review</button>
    </form>
</body>
</html>