<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <a href="/menus">menus</a>
          <a href="/reviews">reviews</a>
        </nav>
      </header>
    <h2>Login page</h2>
    <form action="/users/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
    <a href="/users/register">Dont Have an account ? Register</a>
</body>
</html>