<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users/login.css">
    <title>Login Account</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
        </nav>
    </header>
    <h1>Login Page</h1>
    <form action="/users/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
    <a href="/users/register">Don't have an account? Register</a>
    <p><%= error %></p>
</body>
</html>
