<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
    </header>
    <% if (user) { %>
        <p>Hello <%= user.username %></p>
      <% } else { %>
        <p>No user</p>
      <% } %>
      <h1>Your food reviews</h1>
      <table>
          <thead>
              <tr>
                  <th>Food</th>
                  <th>Description</th>
                  <th>Rating</th>
              </tr>
          </thead>
          <tbody>
              <% reviews.forEach(function(review) { %>
                  <tr>
                      <td><%= review.menuItem.name %></td> 
                      <td><%= review.comment %></td>
                      <td><%= review.rating %></td>
                  </tr>
              <% }) %>
          </tbody>
      </table>
</body>
</html>