<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <% if (user) { %>
        <p>Hello <%= user.username %></p>
      <% } else { %>
        <p>No user</p>
      <% } %>
      <h1>Your food reviews</h1>
      <table>
          <thead>
              <tr>
                  <th>Food</th>
                  <th>Description</th>
                  <th>Rating</th>
              </tr>
          </thead>
          <tbody>
              <% reviews.forEach(function(review) { %>
                  <tr>
                      <td><%= review.menuItem.name %></td> 
                      <td><%= review.comment %></td>
                      <td><%= review.rating %></td>
                  </tr>
              <% }) %>
          </tbody>
      </table>
</body>
</html>