<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users/profile.css">
    <title>User Profile</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
    </header>
      <h1>Your Food Reviews</h1>
      <table>
          <thead>
              <tr>
                  <th>Details</th>
                  <th>Food</th>
                  <th>Description</th>
                  <th>Rating</th>
              </tr>
          </thead>
          <tbody>
              <% reviews.forEach(function(review) { %>
                  <tr>
                    <td><a href="/reviews/edit/<%= review._id %>">Details</a></td>
                    <td><%= review.menuItem.name %></a></td> 
                    <td><%= review.comment %></a></td>
                    <td><%= review.rating %></a></td>
                  </tr>
              <% }) %>
          </tbody>
      </table>
</body>
</html>