<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users/register.css">
    <title>Create Account</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
        </nav>
      </header>
    <h1>Register</h1>
    <form action="/users/register" method="post">
        <div>
            <label>Full Name:</label>
            <input type="text"  type="text" name="fullname"/>
        </div>
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <a href="/users/login">Already have an account? Login</a>
    <p><%= error %></p>
</body>
</html>